SSH_USERNAME=
SSH_HOST=
SSH_PORT=
TUNNEL_LOCAL_PORT=
TUNNEL_REMOTE_HOST=
TUNNEL_REMOTE_PORT=

CA_CERT_PATH=

CLIENT_CONNECT_TIMEOUT_MILLIS=
CLIENT_REQUEST_DEADLINE_MILLIS=
CLIENT_CONNECT_MAX_ATTEMPTS=
CLIENT_DEADLINE_MAX_ATTEMPTS=
SERVER_PROCESSING_THREADS=
SERVER_SENDING_THREADS=
IDEMPOTENCY_RETENTION_HOURS=
IDEMPOTENCY_CLEANUP_MINUTES=

# Vault PKI
VAULT_URL=
VAULT_PKI_ROLE=
VAULT_COMMON_NAME=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
VAULT_TOKEN=

# Redis
REDIS_USERNAME=
REDIS_PASSWORD=

# Observability
GRAFANA_PORT=
GRAFANA_USERNAME=
GRAFANA_PASSWORD=

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DB_PROFILE=docker

# DB_URL=jdbc:postgresql://localhost:5432/space_marine
# DB_USER=
# DB_PASSWORD=

# DB_PROFILE=helios
# DB_PASSWORD=

# DB_POOL_SIZE=8
