SSH_USERNAME=
SSH_HOST=
SSH_PORT=
TUNNEL_LOCAL_PORT=
TUNNEL_REMOTE_HOST=
TUNNEL_REMOTE_PORT=

CA_CERT_PATH=

# Vault PKI
VAULT_URL=
VAULT_PKI_ROLE=
VAULT_COMMON_NAME=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
VAULT_TOKEN=

# Observability
GRAFANA_PORT=

DB_PROFILE=docker

# DB_URL=jdbc:postgresql://localhost:5432/space_marine
# DB_USER=smm
# DB_PASSWORD=smm

# DB_PROFILE=helios
# DB_PASSWORD=

# DB_POOL_SIZE=8
