SSH_USERNAME=
SSH_HOST=
SSH_PORT=
TUNNEL_LOCAL_PORT=
TUNNEL_REMOTE_HOST=
TUNNEL_REMOTE_PORT=

CA_CERT_PATH=

# Vault PKI
VAULT_URL=
VAULT_PKI_ROLE=
VAULT_COMMON_NAME=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
VAULT_TOKEN=
